.education-container {
  display: flex;
  justify-content: center;
}

.education-section {
  margin-top: 1em;
  max-width: 75vw;
  width: 100%;
  padding: 0 1em;
}

.education-details h5,
mat-panel-title,
mat-panel-description,
mat-list-item {
  word-wrap: break-word; 
}

.education-details {
  width: 100%;

  h5 {
    margin: 1em 0 0.5em;
  }

  strong {
    color: var(--icon-bg-color);
    font-weight: bold;
    font-style: italic;
  }

  a,
  p {
    margin-bottom: 0.6em;
    line-height: 1;
    font-size: clamp(0.9rem, 1vw, 1.1rem);
  }
}

mat-accordion {
  width: 100%;
}

mat-expansion-panel {
  background: var(--primary-bg-color);
  width: 100%;
}

mat-expansion-panel-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 5vw;
  height: fit-content;
}

mat-panel-title {
  font-size: clamp(1rem, 1.1vw, 1.2rem);
  color: var(--text-color);
  width: 100%;
  flex: 1;
  margin-right: 1em;
  word-wrap: break-word;
}

mat-panel-description {
  font-size: clamp(0.9rem, 1vw, 1.1rem);
  color: var(--text-color);
  flex: 1;
  width: 100%;
  display: flex;
  word-wrap: break-word;
  justify-content: flex-end;
}

mat-list-item {
  background-color: var(--secondary-bg-color);
  border-radius: 0.3em;
  margin-bottom: 0.6em;
  
  &:hover {
    background: var(--hover-bg-color);
  }
}

.education-icon,
.calendar-icon,
.location-icon,
.thesis-icon,
.publications-icon,
.publication-link-icon {
  margin-left: 0.2em;
  margin-right: 0.2em;
  vertical-align: middle;
  font-size: 1.2em;
  color: var(--icon-bg-color);
  display: inline-flex;
  align-items: center;
}

.thesis-section {
  border-bottom: 1px solid var(--text-colo);
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.publications-section {
  margin-top: 0.5em;
}