<div *ngIf="educations" class="education-container">
    <section class="education-section">
      <mat-accordion>
        <mat-expansion-panel
          *ngFor="let education of educations; let i = index; trackBy: trackByEducation"
          [expanded]="i === 0"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="education-icon">school</mat-icon>
              <div class="education-text">
                  <div class="institution">{{ education.institution }}</div>
                  <div class="degree">{{ education.degree }}</div>
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon class="calendar-icon">calendar_today</mat-icon>
              Graduated in {{ education.graduation_year }} 
              <mat-icon class="location-icon">location_on</mat-icon>
              {{ education.location }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="education-details">
            <div class="thesis-section">
              <h5>
                <mat-icon class="thesis-icon">description</mat-icon> Thesis:
              </h5>
              <p><strong>{{ education.thesis }}</strong></p>
            </div>
            <div *ngIf="education.publications && education.publications.length > 0" class="publications-section">
              <h5>
                <mat-icon class="publications-icon">library_books</mat-icon>
                Publications:
              </h5>
              <div *ngIf="education.publications && education.publications.length > 0">
                <div *ngFor="let publication of education.publications; trackBy: trackByPublication" class="publication-card">
                  <span class="material-symbols-outlined">
                    <mat-icon class="publication-link-icon">link</mat-icon>
                  </span>
                  <p><a [href]="publication.link" target="_blank">{{ publication.title }}</a></p>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
  </div>