<div class="slideshow-container" *ngIf="photoUrls && photoUrls.length > 0">
  <div *ngIf="isLoading" class="loading-spinner">
      <mat-spinner></mat-spinner>
  </div>

  <div class="photo-wrapper">
      <img *ngIf="photoUrls.length > 1 && prevPhotoUrl && !isLoading" [src]="prevPhotoUrl" class="side-photo prev-photo" alt="Previous Photo">
      <img *ngIf="currentPhoto && !isLoading" [src]="currentPhoto" class="slideshow-image" alt="Slideshow Image">
      <img *ngIf="photoUrls.length > 1 && nextPhotoUrl && !isLoading" [src]="nextPhotoUrl" class="side-photo next-photo" alt="Next Photo">
  </div>

  <button mat-icon-button class="prev" (click)="prevPhoto()" *ngIf="photoUrls.length > 1 && !isLoading">
      <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button class="next" (click)="nextPhoto()" *ngIf="photoUrls.length > 1 && !isLoading">
      <mat-icon>chevron_right</mat-icon>
  </button>
</div>