.intro-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

.intro-section {
  text-align: center;
  background: var(--primary-bg-color);
  padding: 1.5em;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
  margin-bottom: 1.5em;
  box-sizing: border-box;
}

.intro-header {
  margin-top: -2em;
  margin-bottom: 0.5em;
}

.intro-full-name,
.intro-profession,
.intro-summary,
.intro-photos-intro,
.intro-languages-title,
.language-name,
.language-proficiency {
  word-wrap: break-word; 
}

.intro-full-name {
  font-size: clamp(2rem, 3vw, 2.5rem);
  margin-bottom: 0.5em;
  color: var(--text-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

.intro-profession {
  color: var(--text-color);
  margin-bottom: 0.2em;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
}

.intro-details {
  text-align: center;
}

.intro-summary,
.intro-photos-intro {
  color: var(--text-color);
  line-height: 1.6;
  margin-bottom: 1em;
  font-size: clamp(1.1rem, 1.2vw, 1.3rem);
  font-style: italic;
}

.intro-languages-container {
  background: var(--secondary-bg-color);
  padding: 0.2em;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: fit-content;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.intro-languages-title {
  font-weight: bold;
  color: var(--text-color);
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  margin-right: 0.5em;
}

.language-chips {
  display: flex;
  flex-wrap: wrap;
}

.language-chip {
  display: flex;
  align-items: center;
  padding: 0.5em 0.8em;
  border-radius: 16px;
  margin: 0.25em;
  font-size: clamp(0.9rem, 1vw, 1.1rem);

  &.native {
    background-color: rgba(76, 175, 80, 0.2);
    color: green;
  }

  &.full-professional {
    background-color: rgba(33, 150, 243, 0.2);
    color: blue;
  }

  &.professional-working {
    background-color: rgba(255, 152, 0, 0.2);
    color: orange;
  }

  &.limited-working {
    background-color: rgba(244, 67, 54, 0.2);
    color: red;
  }

  &.elementary {
    background-color: rgba(158, 158, 158, 0.2);
    color: gray;
  }
}

.language-icon {
  width: 24px;
  height: 16px;
  margin-left: -1em;
  margin-right: 0.2em;
  object-fit: contain;
  vertical-align: middle;
}

.language-name {
  font-weight: bold;
  margin-right: 0.3em;
  color: var(--text-color);
}

.language-proficiency {
  font-style: italic;
}

.intro-photos-intro-container {
  width: 90vw;
  max-width: 1200px;
  text-align: center;
  margin-bottom: 0em;
  box-sizing: border-box;
}

.intro-photos-intro {
  line-height: 1.6;
  margin: 0 auto;
  max-width: 80%;
}

.intro-slideshow {
  margin-top: -1em;
  width: 90vw;
  max-width: 1200px;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 769px){
}