.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    color: var(--text-color);
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @media (max-width: 600px) {
        flex-direction: column;
        height: auto;
        padding: 10px;
        }
    }

.toolbar > div {
    background-color: var(--toolbar-div-background);
    padding: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.logo {
    background: var(--logo-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: transparent;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.spacer {
    flex: 1;
}

.nav-links {
    display: flex;
    gap: 15px;

    @media (max-width: 600px) {
        flex-direction: column;
        gap: 10px;
    }

    button {
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        transition: color 0.3s ease, transform 0.3s ease;
        cursor: pointer;

        color: inherit;   
        background: none; 
        border: none;
        border-top: 1px solid var(--text-color);
        border-bottom: 1px solid var(--text-color);

        &:hover {
            transform: scale(1.1);
        }

        &.active {
            font-weight: bold;
        }

        &:focus {
            outline: none;
        }
    }
}
