.work-container {
    display: flex;
    justify-content: center;
  }
  
  .work-section {
    margin-top: 1em;
    display: block;
    justify-content: center;
    max-width: 75vw;
    width: 100%;
    padding: 0 1em;
  }
    
  .work-details {
    text-align: left;
    width: 100%;
    font-size: clamp(1rem, 1.1vw, 1.2rem);
  }
  
  .work-detail-heading {
    margin: 1.2em 0 0.6em;
    font-size: clamp(1rem, 1.2vw, 1.4rem);
    word-wrap: break-word;
  }
  
  .responsibility-list {
    list-style-type: disc;
  
    li {
      border-radius: 0.8em;
      padding-left: 0.2em;
      padding-right: 0.2em;
      background-color: var(--secondary-bg-color);
      margin-bottom: 0.5em;
      margin-right: 3.5em;
  
      div {
        line-height: 1.6;
        font-size: clamp(1rem, 1vw, 1.1rem);
        word-wrap: break-word;
      }
    }
  }
  
  mat-accordion {
    width: 100%;
  }
  
  mat-expansion-panel {
    background: var(--primary-bg-color);
    width: 100%;
  }
  
  mat-expansion-panel-header {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    min-height: 5vw;
    height: fit-content;
    word-wrap: break-word;
  }
  
  mat-panel-title {
    font-size: clamp(1rem, 1.1vw, 1.2rem);
    color: var(--text-color);
    width: 100%;
    flex: 1;
    margin-right: 1em;
    word-wrap: break-word;
  }
  
  mat-panel-description {
    font-size: clamp(0.9rem, 1vw, 1.1rem);
    color: var(--text-color);
    flex: 1;
    width: 100%;
    display: flex;
    word-wrap: break-word;
    justify-content: flex-end;
  }
  
  .tech-stack-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.6em;
  }
  
  .tech-stack-item {
    background: var(--secondary-bg-color);
    padding: 0.3em 0.6em;
    border-radius: 10rem;
    white-space: nowrap;
    font-size: clamp(0.9rem, 1vw, 1.1rem);
    word-wrap: break-word;

    &:hover {
      background: var(--hover-bg-color);
    }
  }
  
  .work-icon,
  .date-icon,
  .location-icon,
  .about-icon,
  .role-icon,
  .responsibilities-icon,
  .git-icon,
  .tech-stack-icon {
    margin-left: 1.2em;
    margin-right: 0.2em;
    vertical-align: middle;
    font-size: 1.2em;
    color: var(--icon-bg-color);
    display: inline-flex;
    align-items: center;
  }
  
.git-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.6em;
}

.git-chip {
    background: var(--secondary-bg-color);
    padding: 0.5em 1em;
    border-radius: 10rem;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    transition: background-color 0.3s ease;

    &:hover {
        background: var(--hover-bg-color);
    }
}