section {
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  mat-card {
    margin-bottom: 20px;
  }
  
  mat-grid-list {
    margin-bottom: 10px;
  }
  
  mat-chip-set {
    margin-top: 10px;
  }