<section *ngIf="hallOfFame && hallOfFame.length > 0">
    <h2>Hall of Fame</h2>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let category of hallOfFame; trackBy: trackByAchievementCategory">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="category-icon">{{ getCategoryIcon(category.category) }}</mat-icon>
            {{ category.category }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="category-achievements">
          <mat-expansion-panel *ngFor="let achievement of category.achievements; trackBy: trackByAchievement">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="achievement-icon">{{ getAchievementIcon(achievement.title) }}</mat-icon>
                {{ achievement.title }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="achievement-details">
              <p *ngIf="achievement.description">{{ achievement.description }}</p>
  
              <div *ngIf="achievement.images && achievement.images.length > 0" class="hall-of-fame-slideshow">
                <photo-slideshow [photoUrls]="achievement.images"></photo-slideshow>
              </div>
  
              <div *ngIf="achievement.links && achievement.links.length > 0">
                <mat-chip-set>
                  <mat-chip-row *ngFor="let link of achievement.links">
                    <a href={{link}} target="_blank">{{ link }}</a>
                  </mat-chip-row>
                </mat-chip-set>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </section>